@import url('https://fonts.googleapis.com/css2? family= Montserrat & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
}

/***********************    Nav Barre   *****************************/

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
    width: 100%;
}
nav h1{
    color: #707070;
    font-family:'Playfair Display', sans-serif;
    font-size: 40px;
}

nav .onglets{
    margin-top: 3px;
    font-size: 20px;
}

nav .onglets a{
    text-decoration: none;
    color:black;
    margin-right: 40px;
    border-bottom: 1px solid black; 
    padding-bottom: 5px;
}

nav .onglets a:hover{
    border-top: 1px solid black;
}

/***********************   Banniere (header of body) *****************************/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('Images/ecole_hoteliere.jpg');
    background-size: cover;
    color: white;
    padding: 40px 20px;
}

header h1{
    font-family:'Playfair Display', sans-serif;
    font-size: 50px;
    text-align: center;
}

header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid white;
}

header button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 20px;
    font-family:'Playfair Display', sans-serif;
    cursor: pointer;
}

header button:hover{
    background-color: #d6d6d6;
}

/***********************   Main elements (cards) *****************************/

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .content .card .left{
    flex: 0 0 30%;
    background-color: #252525;
    color: white;
    padding-left: 15px;   
}

.main .content .card.right{
    flex: 0 0 70%;
    color: white;
}

.main .content .card .right img{
    height: 300px;
    width: 450px;
    margin-top: 5px;
}

/***********************   Footer *****************************/

footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: #252525;
    color: white;
    padding: 30px 100px;
}

footer h1{
    font-family:'Playfair Display', sans-serif;
    width: 200px;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
}

footer .services{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .services .service{
    margin-right: 30px;
    padding: 10px;
}

footer .services .service p{
    max-width: 300px;
}

#contact{
    color: grey;
}

/***********************   Media queries *****************************/

@media screen and (max-width:650px) {
    nav .onglets{
        margin-bottom: 20px;
    }

.main .content .card .right img{
        margin-top: 0px;
        width: 100%;
        height: auto;
    }

.main .content .card{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.card .left p{
    margin-bottom: 0px;
}

footer{
    padding: 30px;
}
}